# Dolphin Services Easy Quick Install Suite 
# https://github.com/Intika-Linux-Plasmoid
# Contact: intika@librefox.org
# Release: 2019 intika
# License: GPL-3.0 
# Version: 5.21

[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;
X-KDE-StartupNotify=false
X-KDE-Priority=TopLevel
Actions=scanwithNod32;
Version=5.21

[Desktop Action scanwithNod32]
Name=Scan with NOD32
Exec=sudo -u $(ps auxw | grep -i screen | grep -v grep | cut -f 1 -d ' ' | head -n 1) notify-send 'NOD32' 'Scan in progress please wait'; konsole --hold -e "bash -c 'echo; echo NOD32 Scan File; echo; echo %F; echo; nod32scan --unsafe --unwanted --clean-mode=none %F'"
Icon=security-medium
